.main {
  /*width: 30%;
  float: right;
  background-color: green;*/
}

.sidebar {
  width: 30%;
  float: right;
  background-color: green;
}

.columns {
  width: 300px;
  float: left;
  background-color: red;
  word-wrap: break-word;
}

.box {
  border: 2px solid green;
  padding: 4px;
  margin: 30%;
  background-color: red;
  /*background-color: green;*/
}
